PORT=3010

TOPSTEP_1_NAME=TOPSTEP
TOPSTEP_1_USERNAME=
TOPSTEP_1_API_KEY=''
TOPSTEP_1_API_URL=https://api.topstepx.com
TOPSTEP_1_RTC_URL=https://rtc.topstepx.com
TOPSTEP_1_SUB_1=''
TOPSTEP_1_SUB_2=''

METAAPI_TOKEN=

MT5_1_NAME="mt5 account 1"
MT5_1_ACCOUNT_ID=

MT5_1_NAME="mt5 account 2"
MT5_1_ACCOUNT_ID=